<!--<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>-->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="jeff" src="https://ssl-product-images.www8-hp.com/digmedialib/prodimg/lowres/c03240126.png" alt="">
        <h2>Planta Baja</h2>
        <h2>Blanco y Negro</h2>
        <p>HP LaserJet 500 MFP M525</p>
          <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-success" href="https://192.168.12.5/" role="button">Impresora</a>
            <a class="btn btn-success" href="https://192.168.12.5/hp/device/Folder/Index" role="button">Escaner</a>
            <a class="btn btn-success" href="https://192.168.12.5/hp/jetdirect" role="button">Red</a>
          </div>
      </div><!-- /.col-lg-4 -->
      
      <div class="col-lg-4">
        <img class="jeff" src="https://ssl-product-images.www8-hp.com/digmedialib/prodimg/lowres/c03240126.png" alt="">
        <h2>Planta Alta</h2>
        <h2>Blanco y Negro</h2>
        <p>HP LaserJet 500 MFP M525</p>
          <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-success" href="https://192.168.12.6/" role="button">Impresora</a>
          </div>      
          </div><!-- /.col-lg-4 -->
      
      <div class="col-lg-4">
        <img class="jeff" src="https://ssl-product-images.www8-hp.com/digmedialib/prodimg/lowres/c04799613.png" alt="">
        <h2>Planta Alta</h2>
        <h2>Color</h2>
        <p>HP Color LaserJet MFP M477fdw</p>
          <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-success" href="https://192.168.12.7/" role="button">Impresora</a>
            <a class="btn btn-success" href="https://192.168.12.7/set_config_scantoConfiguration.html?tab=Scan&menu=ScantoCfg" role="button">Escaner</a>
            <a class="btn btn-success" href="https://192.168.12.7/set_config_IP.html?tab=Networking&menu=NetIPv4Config" role="button">Red</a>
          </div>
      </div><!-- /.col-lg-4 -->
      
      <div class="col-lg-4">
        <img class="jeff" src="https://ssl-product-images.www8-hp.com/digmedialib/prodimg/lowres/c04405434.png" alt="">
        <h2>Embarques</h2>
        <h2>Blanco y Negro</h2>
        <p>HP LaserJet Enterprise Flow M630z</p>
          <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-success" href="https://192.168.12.8/" role="button">Impresora</a>
          </div>
      </div><!-- /.col-lg-4 -->
      
      <div class="col-lg-4">
        <img class="jeff" src="https://ssl-product-images.www8-hp.com/digmedialib/prodimg/lowres/c04799613.png" alt="">
        <h2>Planta Baja</h2>
        <h2>Color</h2>
        <p>HP Color LaserJet MFP M477fdw</p>
          <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-success" href="https://192.168.12.9/" role="button">Impresora</a>
            <a class="btn btn-success" href="https://192.168.12.9/set_config_scantoConfiguration.html?tab=Scan&menu=ScantoCfg" role="button">Escaner</a>
            <a class="btn btn-success" href="https://192.168.12.9/set_config_IP.html?tab=Networking&menu=NetIPv4Config" role="button">Red</a>
          </div>
      </div><!-- /.col-lg-4 -->
      
      <div class="col-lg-4">
        <img class="jeff" src="https://ssl-product-images.www8-hp.com/digmedialib/prodimg/lowres/c03240126.png" alt="">
        <h2>Producción</h2>
        <h2>Blanco y Negro</h2>
        <p>HP LaserJet 500 MFP M525</p>
         <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-success" href="https://192.168.12.10/" role="button">Impresora</a>
            <a class="btn btn-success" href="https://192.168.12.10/hp/device/QuickSetsFolder/Index" role="button">Escaner</a>
            <a class="btn btn-success" href="https://192.168.12.10/tcpipv4.htm" role="button">Red</a>
          </div>
      </div><!-- /.col-lg-4 -->
      
      <div class="col-lg-4">
        <img class="jeff" src="https://fichashppervasive.blob.core.windows.net/imagenes/INDEX%20-%20M227fdw%20-%201.png" alt="">
        <h2>Calidad</h2>
        <h2>Blanco y Negro</h2>
        <p>HP LaserJet MFP M426fdw</p>
          <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-success" href="https://192.168.12.11/" role="button">Impresora</a>
            <a class="btn btn-success" href="https://192.168.12.11/set_config_scantoConfiguration.html?tab=Scan&menu=ScantoCfg" role="button">Escaner</a>
            <a class="btn btn-success" href="https://192.168.12.11/set_config_IP.html?tab=Networking&menu=NetIPv4Config" role="button">Red</a>
          </div>
      </div><!-- /.col-lg-4 -->
      
      <div class="col-lg-4">
        <img class="jeff" src="https://ssl-product-images.www8-hp.com/digmedialib/prodimg/lowres/c04949078.png" alt="">
        <h2>Desarrollo</h2>
        <h2>Blanco y Negro</h2>
        <p>HP LaserJet MFP M527</p>
          <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-success" href="https://192.168.12.12/" role="button">Impresora</a>
            <a class="btn btn-success" href="https://192.168.12.12/hp/device/Folder/Index" role="button">Escaner</a>
            <a class="btn btn-success" href="https://192.168.12.12/tcpipv4.htm" role="button">Red</a>
          </div>
      </div><!-- /.col-lg-4 -->
      
      <div class="col-lg-4">
        <img class="jeff" src="https://fichashppervasive.blob.core.windows.net/imagenes/INDEX%20-%20M227fdw%20-%201.png" alt="">
        <h2>Compras</h2>
        <h2>Blanco y Negro</h2>
        <p>HP LaserJet MFP M426fdw</p>
          <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-success" href="https://192.168.12.13/" role="button">Impresora</a>
            <a class="btn btn-success" href="https://192.168.12.13/set_config_scantoConfiguration.html?tab=Scan&menu=ScantoCfg" role="button">Escaner</a>
            <a class="btn btn-success" href="https://192.168.12.13/set_config_IP.html?tab=Networking&menu=NetIPv4Config" role="button">Red</a>
          </div>
      </div><!-- /.col-lg-4 -->
      
      <div class="col-lg-4">
        <img class="jeff" src="https://ssl-product-images.www8-hp.com/digmedialib/prodimg/lowres/c03555983.png" alt="">
        <h2>Oficina de Saúl</h2>
        <h2>Color</h2>
        <p>HP Officejet Pro X476dw MFP</p>
          <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-success" href="https://192.168.12.14/" role="button">Impresora</a>
            <a class="btn btn-success" href="https://192.168.12.14/#hId-pgWebScan" role="button">Escaner</a>
            <a class="btn btn-success" href="https://192.168.12.14/#hId-pgNetworkSummary" role="button">Red</a>
          </div>
      </div><!-- /.col-lg-4 -->
      
      <div class="col-lg-4">
        <img class="jeff" src="https://ssl-product-images.www8-hp.com/digmedialib/prodimg/lowres/c03240126.png" alt="">
        <h2>Materia Prima</h2>
        <h2>Blanco y Negro</h2>
        <p>HP LaserJet 500 MFP M525</p>
          <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-success" href="https://192.168.11.218/" role="button">Impresora</a>
            <a class="btn btn-success" href="https://192.168.11.218/hp/device/QuickSetsFolder/Index" role="button">Escaner</a>
            <a class="btn btn-success" href="https://192.168.11.218/tcpipv4.htm" role="button">Red</a>
          </div>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

   



<!--<div class="btn-group" role="group" aria-label="Basic example">
  <a class="btn btn-success" href="https://192.168.12.5/" role="button">Impresora</a>
  <a class="btn btn-success" href="https://192.168.12.5/hp/device/Folder/Index" role="button">Escaner</a>
  <a class="btn btn-success" href="https://192.168.12.5/hp/jetdirect" role="button">Red</a>
</div>-->
